---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Service from "@layouts/partials/Service.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { markdownify, plainify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

import { Image } from "@astrojs/image/components";
import Cta from "@layouts/components/Cta.astro";

const { services, summary_length } = config.settings;

const servicesFolder = services.folder;
const serviceIndex = await getEntryBySlug<any, string>(
  servicesFolder,
  "_index"
);
const currentServices = await getSinglePage(servicesFolder);
const sortedServices = sortByDate(currentServices);
---

<Base title={serviceIndex?.data.title}>
  <section class="section">
    <div class="container">
      <h1
        class="text-center font-normal lg:text-[56px]"
        set:html={markdownify(serviceIndex?.data.title)}
      />
      <p
        class="text-center text-h3-sm font-normal"
        set:html={markdownify(serviceIndex?.data.description)}
      />
    </div>
  </section>
  {
    sortedServices!.map((service, index: number) => {
      const isOdd = index % 2 > 0;

      return <Service service={service.data} isOdd={isOdd} />;
    })
  }

  <script>
    import Swiper, { Autoplay, Pagination } from "swiper";
    new Swiper(".service-carousel .swiper", {
      modules: [Pagination, Autoplay],
      autoplay: {
        delay: 3000,
      },
      pagination: {
        type: "bullets",
        el: ".service-carousel .pagination",
        clickable: true,
      },
    });
  </script>
</Base>
