---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import Service from "@layouts/partials/Service.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { getSinglePage } from "@lib/contentParser.astro";
import config from "@config/config.json";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, feature, workflow, call_to_action } = homepage.data;

const { folder } = config.settings.services;
const services = await getSinglePage(folder);
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">{banner?.title}</h1>
          {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          }

          {
            banner?.button?.enable && (
              <a class="btn btn-primary mt-4" href={banner.button.link}>
                {banner.button.label}
              </a>
            )
          }

          {
            banner?.image && (
              <Image
                class="mx-auto mt-12"
                src={banner?.image}
                width={750}
                height={390}
                alt="banner image"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>

  <!-- Features -->
  <section class="section bg-theme-light">
    <div class="container">
      <div class="text-center">
        <h2>{markdownify(feature!.title)}</h2>
      </div>
      <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          feature!.features.map((item, i) => (
            <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
              {item.icon && (
                <img
                  class="mx-auto"
                  alt={item.icon}
                  src={item.icon}
                  width={30}
                  height={30}
                />
              )}
              <div class="mt-4">
                <p class="h5" set:html={markdownify(item!.name)} />
                <p class="mt-3">{item.content}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- Services -->
  {
    services!.map((service, index: number) => {
      const isOdd = index % 2 > 0;

      return <Service service={service.data} isOdd={isOdd} />;
    })
  }

  <script>
    import Swiper, { Autoplay, Pagination } from "swiper";
    new Swiper(".service-carousel .swiper", {
      modules: [Pagination, Autoplay],
      autoplay: {
        delay: 3000,
      },
      pagination: {
        type: "bullets",
        el: ".service-carousel .pagination",
        clickable: true,
      },
    });
  </script>
  <!-- ./End service -->

  <!-- Workflow -->
  <section class="section pb-0">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto max-w-[400px] font-bold leading-[44px]"
        set:html={workflow?.title}
      />
      <p class="mt-3" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
  </section>

  <!-- Call to Action -->
  <Cta cta={call_to_action} />
</Base>
