---
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import Plan from "@layouts/partials/Plan.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pricing", "index");
const { title, description, plans, call_to_action } = entry.data;
---

<Base title={title} description={description}>
  <section class="section pb-0">
    <div class="container">
      <h1 class="text-center font-normal">{title}</h1>
      <div class="section row -mt-10 justify-center md:mt-0">
        {plans?.map((plan) => <Plan plan={plan} />)}
      </div>
    </div>
  </section>
  <Cta cta={call_to_action} />
</Base>
